.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

/* .left-side {
  padding: 20px;
  width: 50%;
}

.right-side {
  padding: 20px;
  width: 50%;
} */

.top {
  display: flex;
  /* flex-wrap: wrap; */
  height: calc(35% - 20px);
}

.bottom {
  display: flex;
  height: calc(65% - 20px);
  /* flex-wrap: wrap; */
}

.top-right {
  padding: 20px;
  width: 45%;
  height: 100%;
  overflow-y: scroll;
}

.bottom-right {
  text-align: left;
  overflow-y: scroll;
  width: 45%;
  height: 100%;
  padding: 20px;
}

.top-left {
  padding: 20px;
  width: 45%;
}

/* .links {} */

.bottom-left {
  text-align: left;
  /* height: 80%; */
  width: 45%;
  padding: 20px;
}

.projects {
  display: flex;
  overflow-X: scroll;
  /* height: 95%; */
}

hr {
  margin: 15px;
}

@media(max-width:1024px) {
  .main-screen{
    text-align: center;
    min-height: 2000px;
   /*  overflow-y: auto; */
  }

  .top {
    flex-direction: column;
  }

  .top-left {
  padding: 20px;
  width: 100%;
}

.top-right {
  padding: 20px;
  width: 100%;
  overflow-y: scroll;
}

  .bottom {
    flex-direction: column;
    flex-grow: 1;
  }

  .bottom-left {
  text-align: left;
  width: 100%;
  padding: 20px;
}

.bottom-right {
  text-align: left;
  height: 100%;
  /* overflow-y: scroll; */
  width: 100%;
  padding: 20px;
  flex-grow: 1;
  outline: 1px solid red;
}

}